<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Visualizing Data with AngularJS</title>

    <meta name="description" content="The love child of Angular and D3">
    <meta name="author" content="Victor Powell">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/default.css" id="theme">

    <!-- For syntax highlighting -->
    <link rel="stylesheet" href="lib/css/twilight.css">

    <!-- If the query includes 'print-pdf', use the PDF print sheet -->
    <script>
      document.write( '<link rel="stylesheet" href="css/print/' + ( window.location.search.match( /print-pdf/gi ) ? 'pdf' : 'paper' ) + '.css" type="text/css" media="print">' );
    </script>

    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->

    <style>
    .reveal section img {
      border: none;
      background: none;
      box-shadow: none;
    }
    .inline-title h1, .inline-title h3{
        display: inline-block;
    }
    </style>
  </head>

  <body>

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">
        <section>
          <h1>Visualizing data with Angular and D3</h1>
          <h3></h3>
          <br>
          <p>
            <small>Created by <a href="http://vctr.me">Victor Powell</a> / <a href="http://twitter.com/vicapow">@vicapow</a></small>
          </p>
          <aside class="notes" data-markdown>
            + as obvious by the title behind, this is a talk on using angular with d3.
            + quick note: all the slides and demos will be posted online
          </aside>
        </section>
        <section>
          <section>
            <div data-markdown>
              # About me
            </div>
            <aside class="notes" data-markdown>
              + why you should listen
            </aside>
          </section>
          <section>
            <div data-markdown>
              # I visualize data
            </div>
            <aside class="notes" data-markdown>
              + as a freelance developer
            </aside>
          </section>
          <section>
            <div data-markdown>
              [![](img/monsoonco-logo-black-bg.png)](http://www.monsoonco.com/‎)
            </div>
            <aside class="notes" data-markdown>
              + most recently helped Monsoon built this dashboard for HP
            </aside>
          </section>
          <section>
            <div  data-markdown>
              ![](img/hp-spog-1.png)
            </div>
            <aside class="notes" data-markdown>
            </aside>
          </section>
          <section>
            <div data-markdown>
              # I teach
            </div>
            <aside class="notes" data-markdown>
              + at a Hacker School in San Francisco called Hack Reactor
            </aside>
          </section>
          <section data-markdown>
            ![](img/hackreactor-logo-white-bg.png)
          </section>
          <section data-markdown>
            # I like to explain things
          </section>
          <section data-markdown>
            ![](img/central-limit-theorem.png)
          </section>
          <section data-markdown>
            ![](img/monty-hall.png)
          </section>
          <section data-markdown>
            ![](img/simpsons-paradox.png)
          </section>
          <section data-markdown>
            # I'm writing a book
          </section>
          <section data-markdown>
            ![](img/d3-on-angular.png)
          </section>
          <section>
            <h2>Have data visualization work?</h2>
            <aside>lets talk: <a href="me@vctr.me">me@vctr.me</a></aside>
          </section>
          <section>
            <div data-markdown>
              ![](img/hello-kitty.png)

              ok.. no more ads
            </div>
            <aside class="notes" data-markdown>
            </aside>
          </section>
        </section>

        <!-- overview -->

        <section>
          <section>
            <div data-markdown>
              `Why` and `how` you should use angular with D3 for doing data visualization.
            </div>
            <aside class="notes" data-markdown>
            </aside>
          </section>
        </section>

        <!-- the "WHY" -->

        <section>
          <section>
            <div data-markdown>
              Why you should care about data visualization
            </div>
            <aside class="notes" data-markdown>
              + for those in the room not as familiar with data visualization
              + briefly touch on why data visualization matters with one of my favorite examples.
            </aside>
          </section>
          <section>
<table class="wikitable" border="1" style="font-size: 0.3em">
<caption>Anscombe's quartet</caption>
<tr>
<th colspan="2">I</th>
<th colspan="2">II</th>
<th colspan="2">III</th>
<th colspan="2">IV</th>
</tr>
<tr>
<td>x</td>
<td>y</td>
<td>x</td>
<td>y</td>
<td>x</td>
<td>y</td>
<td>x</td>
<td>y</td>
</tr>
<tr>
<td>10.0</td>
<td>8.04</td>
<td>10.0</td>
<td>9.14</td>
<td>10.0</td>
<td>7.46</td>
<td>8.0</td>
<td>6.58</td>
</tr>
<tr>
<td>8.0</td>
<td>6.95</td>
<td>8.0</td>
<td>8.14</td>
<td>8.0</td>
<td>6.77</td>
<td>8.0</td>
<td>5.76</td>
</tr>
<tr>
<td>13.0</td>
<td>7.58</td>
<td>13.0</td>
<td>8.74</td>
<td>13.0</td>
<td>12.74</td>
<td>8.0</td>
<td>7.71</td>
</tr>
<tr>
<td>9.0</td>
<td>8.81</td>
<td>9.0</td>
<td>8.77</td>
<td>9.0</td>
<td>7.11</td>
<td>8.0</td>
<td>8.84</td>
</tr>
<tr>
<td>11.0</td>
<td>8.33</td>
<td>11.0</td>
<td>9.26</td>
<td>11.0</td>
<td>7.81</td>
<td>8.0</td>
<td>8.47</td>
</tr>
<tr>
<td>14.0</td>
<td>9.96</td>
<td>14.0</td>
<td>8.10</td>
<td>14.0</td>
<td>8.84</td>
<td>8.0</td>
<td>7.04</td>
</tr>
<tr>
<td>6.0</td>
<td>7.24</td>
<td>6.0</td>
<td>6.13</td>
<td>6.0</td>
<td>6.08</td>
<td>8.0</td>
<td>5.25</td>
</tr>
<tr>
<td>4.0</td>
<td>4.26</td>
<td>4.0</td>
<td>3.10</td>
<td>4.0</td>
<td>5.39</td>
<td>19.0</td>
<td>12.50</td>
</tr>
<tr>
<td>12.0</td>
<td>10.84</td>
<td>12.0</td>
<td>9.13</td>
<td>12.0</td>
<td>8.15</td>
<td>8.0</td>
<td>5.56</td>
</tr>
<tr>
<td>7.0</td>
<td>4.82</td>
<td>7.0</td>
<td>7.26</td>
<td>7.0</td>
<td>6.42</td>
<td>8.0</td>
<td>7.91</td>
</tr>
<tr>
<td>5.0</td>
<td>5.68</td>
<td>5.0</td>
<td>4.74</td>
<td>5.0</td>
<td>5.73</td>
<td>8.0</td>
<td>6.89</td>
</tr>
</table>
          </section>
          <section>
            <div>
<table class="wikitable" style="font-size: 0.6em">
  <caption>Summary statistics</caption>
  <tr>
    <td>mean of x</td>
    <td>9</td>
  </tr>
  <tr>
    <td>variance of x</td>
    <td>11</td>
  </tr>
  <tr>
    <td>mean of y</td>
    <td>7.50</td>
  </tr>
  <tr>
    <td>variance of y</td>
    <td>4.12</td>
  </tr>
  <tr>
    <td>correlation of x and y</td>
    <td>0.816</td>
  </tr>
  <tr>
    <td>linear regression</td>
    <td>y = 3.0 + 0.5 * x</td>
  </tr>
</table>  
            </div>
            <aside class="notes" data-markdown>
              + identical summary statistics
              + anscombe's quartet
              + same 5 summary statistics
                - mean of x and y
                - variance of x and y
                - correlation x <-> y
            </aside>
          </section>
          <section>
            <div data-markdown>
              [![](img/anscombes_quartet.svg)](http://en.wikipedia.org/wiki/Anscombe's_quartet)
            </div>
          </section>
        </section>
        <section>
          <section data-markdown>
            Why you should use Angular for data visualization
          </section>
          <section>
            <div data-markdown>
              # Directives
            </div>
            <aside class="notes" data-markdown>
              + many reasons to use Angular for data vis, but #1 is directives
              + essentially custom HTML tags
              + forces you're visualizations to stay module
              + allows you to think about them as just components instead of chunks of code.
            </aside>
          </section>
          <section>
            <div data-markdown>
              input fields "are" directives
            </div>
            <aside class="notes" data-markdown>
              + you can think of most input fields as directives that the browser provides.
              + self contained components we can "plug into"
            </aside>
          </section>
          <section>
              <input type="range" min="1" max="1000" value="0" style="width:100%">
              <div data-markdown>
                ````html
                &lt;input type=&quot;range&quot; min=&quot;1&quot; max=&quot;100&quot; value=&quot;0&quot;&gt;
                ````
              </div>
              <input type="date" value="1989-01-23">
              <div data-markdown>
                ````html
                &lt;input type=&quot;date&quot; value=&quot;1989-01-23&quot;&gt;
                ````
              </div>
          </section>
          <section>
            <div style="font-size:1.5em" data-markdown>
              ````html
                &lt;donut-chart&gt;&lt;/donut-chart&gt;
              ````
            </div>
            <aside class="notes">
              + would it be great if we could just do this?
              + directives make this possible
            </aside>
          </section>
          <section data-markdown>
            ![](img/donut-chart-1.png)
          </section>

          <section>
            <div data-markdown>
              conditional templates

              (via `ng-switch`)
            </div>
            <aside class="notes">
              + if we make our data visualizations directives, we can take advantage of angulars other features, like conditional templates via `ng-switch`
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````html
                &lt;div ng-switch on=&quot;selection&quot;&gt;
                  &lt;div ng-switch-when=&quot;pie&quot;&gt;
                    &lt;pie-chart&gt;&lt;/pie-chart&gt;
                  &lt;/div&gt;
                  &lt;div ng-switch-default&gt;
                    &lt;bar-chart&gt;&lt;/bar-chart&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              ````
            </div>
            <aside class="notes" data-markdown>
              + made possible by directives
            </aside>
          </section>
          <section>
            <div data-markdown>
              # Small multiples

              (via `ng-repeat`)
            </div>
            <aside class="notes" data-markdown>
              + another angular feature of particular interest of data visualizer is ng-repeat for creating small multiples

              Small Multiples
                + powerful visualization tool
                + Popularized by Edward Tufte
                + facilitates comparisons of change across multiple charts side by side
            </aside>
          </section>
          <section>
            <div data-markdown>
              ![](img/the-horse-in-motion.jpg)
            </div>
            <aside class="notes" data-markdown>
              The classic is Eadweard Muybridge's "A horse in motion"
              + you might wonder why we can't just animate the horse. We have computers, after all...
            </aside>
          </section>
          <section>
            <div data-markdown>
              ![](img/the-horse-in-motion.gif)
            </div>
          </section>
          <section>
            <div data-markdown>
              [![](img/andrew-gelman-school-vouchers-map.png)](http://andrewgelman.com/2009/07/15/hard_sell_for_b/)
            </div>
            <aside class="notes" data-markdown>
              + but take this example which would be impossible with a simple animation by Anrew Gelman.
              + Show's support for school vouchers by race, income, latitude, longitude.
              + 4 dimensions in the map alone (state, latitude, longitude, voucher support)
              + 6 when you add the rows and columns offered by small multiples
            </aside>
          </section>
          <section>
            <div data-markdown>
              ![](img/small-multiples-with-ng-repeat.png)
            </div>
            <aside class="notes" data-markdown>
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````html
                &lt;donut-chart ng-repeat=&quot;chart in charts&quot;&gt;&lt;/donut-chart&gt;
              ````
            </div>
            <aside class="notes" data-markdown>
              + also made possible by directives
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````html
                &lt;div ng-repeat=&quot;races in incomes&quot;&gt;
                  &lt;map ng-repeat=&quot;race in races&quot;&gt;&lt;/map&gt;
                &lt;/div&gt;
              ````
            </div>
            <aside class="notes" data-markdown>
              + ng-repeat inside of ng-repeat
            </aside>
          </section>
          <section>
            <div data-markdown>
              Yo dawge...
            </div>
            <aside class="notes">
              + cause no one's probably ever made that joke at a programming meetup before
            </aside>
          </section>
          <section>
            <div data-markdown>
              ## Responsive Design
              
              [demo](demos/responsive/index.html)
            </div>
            <aside class="notes" data-markdown>
              + because of Angular's digest cycle
              + in combination with some CSS tricks and $watch
              + by watching the containing tags width and height
            </aside>
          </section>
          <section>
            <div data-markdown>
              # Interactivity across visualizations

              [Demo 1](demos/AI-editor/index.html) [Demo 2](http://vudlab.com/simpsons/)
            </div>
            <aside class="notes" data-markdown>
              + because of Angular's digest loop

              ## Demo 1: Non-player character creator

                + A hypothetical application
                + useful if you're creating non-playable characters in a video game with a fair distribution of skill levels.

              ## Demo 2: Simpson's Paradox
                + Paradoxical situation of confounded statistics caused by a 3rd lucking variable.
            </aside>
          </section>
        </section>

        <!-- the "HOW" -->

        <section>
          <section>
            <div data-markdown>
              # Lets make a donut chart directive
            </div>
            <aside class="notes">
              now that you understand some of the motivations for why you would want to use angular with d3, lets talk about how.
            </aside>
          </section>
          <section>
            <div data-markdown>
              ## What we'll build
              [demo](demos/lets-make-a-donut-chart-directive/v9-using-a-controller-and-seperating-out-business-logic.html)
            </div>
            <aside class="notes" data-markdown>
              + what the final version will look like
              + just a very simple demo that demonstrates most of the key concepts.
              + (Live code modifying the directive)
            </aside>
          </section>
        </section>

        <!-- intro to d3 -->

        <section>
          <section data-markdown>
            # An (extremely) brief intro to [D3](http://d3js.org)
          </section>
          <section>
            <div class="inline-title">
              <h1>D</h1><h3>ata</h3><br>
              <h1>D</h1><h3>riven</h3><br>
              <h1>D</h1><h3>ocuments</h3><br>
            </div>
            <aside class="notes" data-markdown>
              + manipulate the DOM based on data
                - creating
                - updating
                - removing
              + sounds similar to jQuery
            </aside>
          </section>
          <section data-markdown>
            # D3
          </section>
          <section>
            <div data-markdown>
              D3(data) -> DOM
            </div>
            <aside class="notes" data-markdown>
              + helper functions
            </aside>
          </section>
          <section>
            <div data-markdown>
              for example
            </div>
          </section>
          <section>
            <div data-markdown>
              Data
              ````javascript
                // somehow you get data
                var data = [20, 50, 80];
              ````
              D3
              ````javascript
                d3.select('body').selectAll('div').data(data)
                  .enter().append('div')
                    // set the width based on the current data item
                    .style('width', function(d){ return d + '%' });
              ````
            </div>
            <aside class="notes">
              + data -> manipulate -> document
            </aside>
          </section>
          <section>
            <div data-markdown>
              DOM
              ````html
                &lt;!DOCTYPE html&gt;
                &lt;html&gt;
                  &lt;div style="width:20%;"&gt;&lt;/div&gt;
                  &lt;div style="width:50%;"&gt;&lt;/div&gt;
                  &lt;div style="width:80%;"&gt;&lt;/div&gt;
                &lt;/html&gt;
              ````
            </div>
            <aside class="notes" data-markdown>
              + helper functions
              + pass on details
            </aside>
          </section>
          <section data-markdown>
            [demo](demos/d3-intro/div-bar-chart.html)
          </section>
          <section>
            <div data-markdown>
              # Layouts
            </div>
          </section>
          <section>
            <div data-markdown>
              # d3.layout.pie()
            </div>
            <aside class="notes" data-markdown>
              + sense of flexibility
              + we'll see again
            </aside>
          </section>
          <section>
            data
            <pre><code class="javascript">
              var data = [35, 28, 73];
            </code></pre>
            pie layout
            <pre><code class="javascript">
              var pie = d3.layout.pie();
            </code></pre>
          </section>
          <section>
            <div data-markdown>
              ````javascript
                pie([35, 28, 72]); // result -->
                [
                  { startAngle:3.37, endAngle:4.99, data:35, value:35 },
                  { startAngle:4.99, endAngle:6.28, data:28, value:28 },
                  { startAngle:0,    endAngle:3.37, data:73, value:73 }
                ]
              ````
            </div>
            <aside class="notes" data-markdown>
              + dependencies (changing one of the original data values effects every start/end angle)
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````javascript
                // a function that takes a pie layout item and produces a 
                // new arc shaped &lt;path&gt; tag.
                var arc = d3.svg.arc().innerRadius(400).outerRadius(600);
                // create the arcs, passing each data element of the 
                // pie layout to the `arc` generator function.
                d3.select('svg').selectAll('path').data(pie(data))
                  .enter().append('path')
                    .attr('d', arc);
              ````
            </div>
          </section>
          <section>
            <div data-markdown>
              ````css
                path{
                  stroke-width: 10;
                  stroke: white;
                }
              ````
          </section>
          <section data-markdown>
            [demo](demos/lets-make-a-donut-chart-directive/v0.1-d3-layout.pie.html)
          </section>
          <section>
            <div data-markdown>
              ````javascript
                d3.select('svg').append('g')
                  // nudge the content in the svg down and to the right
                  .attr('transform', 'translate(300, 300)')
                  .selectAll('path').data(pie(data))
                  .enter().append('path')
                    .attr('d', arc);
              ````
            </div>
          </section>
          <section data-markdown>
            [demo](demos/lets-make-a-donut-chart-directive/v0.2-d3-layout.pie.html)
          </section>
          <section data-markdown>
            # Additional Resources
          </section>
          <section data-markdown>
            ### [An SVG Primer](http://alignedleft.com/tutorials/d3/an-svg-primer)
            by Scott Murray
          </section>
          <section data-markdown>
            ### [Let's Make a Bar Chart](http://bost.ocks.org/mike/bar/)
            intro to D3 by Mike Bostock
          </section>
          <section data-markdown>
            ### [Thinking with Joins](http://bost.ocks.org/mike/join/)
            also by Mike Bostock

            explains this black magic:
            ````javascript
              d3.select('svg').append('g')
                .selectAll('path').data(pie(data))
                .enter().append('path')
                  .attr('d', arc);
            ````
          </section>
        </section>
        <section>
          <section data-markdown>
            # Directives
          </section>
          <section>
            <div data-markdown>
              wouldn't this be cool?
              ````html
                &lt;donut-chart&gt;&lt;/donut-chart&gt;
              ````
            </div>
            <aside class="notes" data-markdown>
              + modularity (separation of concerns)
              + re-usability
              + easier dependency injection via the scope
            </aside>
          </section>
          <section>
            <div data-markdown>
              yes. yes it would.
            </div>
          </section>
          <section>
            <div data-markdown>
              # Let's do it!
            </div>
            <aside class="notes" data-markdown>
              + make a donut chart directive
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````javascript
                var app = angular.module('myApp', []);
                app.directive('donutChart', function() {
                  return { 
                    restrict: 'E',
                    link: function(scope, element) {
                      // D3 bits...
                    }
                  };
                });
              ````
            </div>
            <aside class="notes" data-markdown>
              + name 'donutChart' -> donut-chart
              + 'E' restrict to elements named donut-chart
              + the `link`
              + element exists. go to town adding
                + manipulate/adding inner DOM
                + adding event listeners
                + etc...
            </aside>
          </section>
          <section>
            <div style="font-size: 0.8em" data-markdown>
              The D3 bits
              ````javascript
              var width = 500, height = 500;
              var color = d3.scale.category10();
              var pie = d3.layout.pie().sort(null);
              var arc = d3.svg.arc()
                .outerRadius(width / 2 * 0.9)
                .innerRadius(width / 2 * 0.5);
              var svg = d3.select(element[0]).append('svg')
                .attr({width: width, height: height})
                .append('g')
                  .attr('transform', 'translate(' + width / 2 + ',' + height / 2 + ')');
              // add the &lt;path&gt;s for each arc slice
              svg.selectAll('path').data(pie([82, 62, 10, 32]))
                .enter().append('path')
                  .style('stroke', 'white')
                  .attr('d', arc)
                  .attr('fill', function(d, i){ return color(i) });
              ````
            </div>
            <aside class="notes">
              + point out
                - data
                - width and height
            </aside>
          </section>
          <section>
            <pre><code class="html">
  &lt;body ng-app=&quot;myApp&quot;&gt;
    &lt;donut-chart&gt;&lt;/donut-chart&gt;
  &lt;/body&gt;
              </code></pre>
              <div data-markdown>
                [demo](demos/lets-make-a-donut-chart-directive/v0.5-directive.html)
              </div>
          </section>
         <section>
            <pre><code class="html">
  &lt;body ng-app=&quot;myApp&quot;&gt;
    &lt;donut-chart&gt;&lt;/donut-chart&gt;
    &lt;donut-chart&gt;&lt;/donut-chart&gt;
    &lt;donut-chart&gt;&lt;/donut-chart&gt;
  &lt;/body&gt;
              </code></pre>
              <div data-markdown>
                [demo](demos/lets-make-a-donut-chart-directive/v0.5.1-directive.html)
              </div>
          </section>
          <section>
            <div data-markdown>
              but new donut charts will all have the same data...
            </div>
            <aside class="notes" data-markdown>
              + opposite of modular
              + changing the data means changing the directive
              + allow your directive's data to be configurable via the scope
            </aside>
          </section>
          <section data-markdown>
            # Data binding via the scope
          </section>
          <section>
            <div data-markdown>
              ````html
                &lt;body ng-app="myApp" ng-init="data=[82, 62, 10, 32]"&gt;
                  &lt;donut-chart&gt;&lt;/donut-chart&gt;
                &lt;/body&gt;
              ````
            </div>
            <aside class="notes" data-markdown>
              + enables external data
              + one way
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````javascript
                var app = angular.module('myApp', []);
                app.directive('donutChart', function() {
                  return { 
                    restrict: 'E',
                    link: function(scope, element) {
                      // use the `data` scope property
                      var data = scope.data;
                      // carry on...
                    }
                  };
                });
              ````
            </div>
            <aside class="notes" data-markdown>
              + restrict: 'E' means support elements named "&gt;onut-chart&lt;"
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````html
                &lt;body ng-app="myApp" ng-init="data=[82, 62, 10, 32]"&gt;
                  &lt;donut-chart&gt;&lt;/donut-chart&gt;
                  &lt;donut-chart&gt;&lt;/donut-chart&gt;
                  &lt;donut-chart&gt;&lt;/donut-chart&gt;
                &lt;/body&gt;
              ````
              [demo](demos/lets-make-a-donut-chart-directive/v0.5.2-directive.html)
            </div>
            <aside class="notes" data-markdown>
              + disadvantage
              + all the charts have the same data
              + we'd like to be able to specify data for each chart
            </aside>
          </section>
          <section data-markdown>
            # Isolate scope
          </section>
          <section>
            <div data-markdown>
              ````javascript
                var app = angular.module('myApp', []);
                app.directive('donutChart', function() {
                  return { 
                    restrict: 'E',
                    scope: { data: '=' } // isolate scope
                    link: function(scope, element) {
                      var data = scope.data;
                      // the D3 bits...
                  }};
                });
              ````
            </div>
            <aside class="notes" data-markdown>
            </aside>
          </section>
          <section>
            <pre><code class="html">
  &lt;body ng-app="myApp" ng-init="data=[82, 62, 10, 32]"&gt;
    &lt;donut-chart data="data"&gt;&lt;/donut-chart&gt;
  &lt;/body&gt;
              </code></pre>
          </section>
          <section>
            <pre><code class="html">
  &lt;body ng-app="myApp" ng-init="heights=[82, 62, 10, 32]"&gt;
    &lt;donut-chart data="heights"&gt;&lt;/donut-chart&gt;
  &lt;/body&gt;
              </code></pre>
          </section>
          <section>
            <div data-markdown>
              ````html
                &lt;body ng-app="myApp" ng-init="whatever=[82, 62, 10, 32]"&gt;
                  &lt;donut-chart data="whatever"&gt;&lt;/donut-chart&gt;
                &lt;/body&gt;
              ````
            </div>
          </section>
          <section>
            <div data-markdown>
              ````html
                &lt;body ng-app="myApp"&gt;
                  &lt;donut-chart data="[10, 10]"&gt;&lt;/donut-chart&gt;
                  &lt;donut-chart data="[10, 10, 20]"&gt;&lt;/donut-chart&gt;
                &lt;/body&gt;
              ````
              [demo](demos/lets-make-a-donut-chart-directive/v1.1-directive.html)
            </div>
          </section>
          <section data-markdown>
            # Great
          </section>
          <section>
            <div data-markdown>
              # Sharing data
            </div>
            <aside class="notes" data-markdown>
              + for free
            </aside>
          </section>
          <section>
            <pre><code class="html">
  &lt;body ng-app="myApp" ng-init="myData=[82, 62, 10, 32]"&gt;
    &lt;donut-chart data="myData"&gt;&lt;/donut-chart&gt;
    &lt;donut-chart data="myData"&gt;&lt;/donut-chart&gt;
  &lt;/body&gt;
              </code></pre>
              <a href="demos/lets-make-a-donut-chart-directive/v2-sharing-data.html">demo</a>
              <aside class="notes" data-markdown>
                + share data
              </aside>
          </section>
          <section data-markdown>
            # ng-repeat
            (aka, small multiples)
          </section>
          <section>
            <div style="font-size:0.8em" data-markdown>
              ````html
                &lt;body ng-app="myApp" ng-init="charts=[[5, 3], [1, 2], [2, 2]]"&gt;
                  &lt;donut-chart data="data" ng-repeat="data in charts"&gt;&lt;/donut-chart&gt;
                &lt;/body&gt;
              ````
              [demo](demos/lets-make-a-donut-chart-directive/v2.1-sharing-data.html)
            </div>
            <aside class="notes" data-markdown>
            </aside>
          </section>
          <section data-markdown>
            but what if our data changes?
          </section>
          <section data-markdown>
            there's nothing you can do.
          </section>
          <section data-markdown>
            jk
          </section>
          <section>
            <div data-markdown>
              # $watch 
              # and
              # $apply
            </div>
          </section>
          <section>
            <div data-markdown>
              `$watch` for changes
            </div>
            <aside class="notes">
              + pretty strait forward
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````javascript
                svg.on('mousedown', function(d) {
                  // change the data
                  data = d3.range(4).map(Math.random);
                  // update the arc &lt;path&gt; tags
                  arcs.data(pie(data)).attr('d', arc);
                });
              ````
              [demo](demos/lets-make-a-donut-chart-directive/v3-updating-data.html)
            </div>
            <aside class="notes" data-markdown>
              + we'll work from this to illustrate updating data
              + idiomatic d3
              + seems to work, until...
            </aside>
          </section>
          <section>
            <pre><code class="html">
  &lt;body ng-app=&quot;myApp&quot;&gt;
    &lt;div ng-init=&quot;chartData=[82, 82, 10, 32]&quot;&gt;
      &lt;donut-chart data=&quot;chartData&quot;&gt;&lt;/donut-chart&gt;
      &lt;donut-chart data=&quot;chartData&quot;&gt;&lt;/donut-chart&gt;
    &lt;/div&gt;
  &lt;/body&gt;
              </code></pre>
              <a href="demos/lets-make-a-donut-chart-directive/v3.1-updating-data.html">demo</a>
              <aside class="notes" data-markdown>
                + angular never gets to know about our change
              </aside>
          </section>
          <section data-markdown>
            Wait, [WAT?](https://www.destroyallsoftware.com/talks/wat)
          </section>
          <section>
            <div data-markdown>
              Angular doesn't know the scope changed.
            </div>
            <aside class="notes" data-markdown>
            </aside>
          </section>
          <section data-markdown>
            how does it know?!
          </section>
          <section>
            <div data-markdown>
              ````javascript
                var $timeout = function(callback, delay){
                  setTimeout(function(){
                    // after the callback, check all the scopes for changes
                    $scope.apply(function(){
                      callback();
                    });
                  }, delay);
                }
              ````
            </div>
            <aside class="notes">
              + a simplified example but you get the idea
            </aside>
          </section>
          <section data-markdown>
            it usually knows automatically via:
            
            + `ng-mouseover`
            + `ng-click`
            + `$timeout`
            + `$http`
            + etc...
          </section>
          <section>
            <div data-markdown>
              ````javascript
                svg.on('mousedown', function(d) {
                  scope.$apply(function(){
                    // now inside angular world. safely update the data
                    scope.data = d3.range(4).map(Math.random);
                  });
                });

                scope.$watch('data', function(data) {
                  // `data` changed! update the arc &lt;path&gt;s
                  arcs.data(pie(data)).attr('d', arc);
                });
              ````
              [demo](demos/lets-make-a-donut-chart-directive/v4-updating-shared-data-with-watch-and-apply.html)
            </div>
          </section>
          <section data-markdown>
            sweet
          </section>
          <section data-markdown>
            rrr.. wait a sec.. now ng-repeat don't work...
          </section>
          <section>
            <pre><code class="html">
  &lt;body ng-app=&quot;myApp&quot;&gt;
    &lt;div ng-init=&quot;data=[1, 4, 2, 5]&quot;&gt;
      &lt;donut-chart data=&quot;data&quot; ng-repeat=&quot;item in [1, 2, 3]&quot;&gt;
      &lt;/donut-chart&gt;
    &lt;/div&gt;
  &lt;/body&gt;
              </code></pre>
              <a href="demos/lets-make-a-donut-chart-directive/v4.1-updating-shared-data-with-watch-and-apply.html">demo</a>
              <aside class="notes" data-markdown>
              </aside>
          </section>
          <section>
            <div data-markdown>
              `ng-repeat` items each get a new scope.

              [(more on object inheritance)](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Introduction_to_Object-Oriented_JavaScript#Inheritance)
            </div>
            <aside class="notes" data-markdown>
              + an aside
              + shadow's parent `data` prop.
              + lots of hours lost in "scope hell"
            </aside>
          </section>
          <section>
            <div style="font-size: 0.85em" data-markdown>
              ````
                &lt;body ng-app=&quot;myApp&quot;&gt;
                  &lt;div ng-init=&quot;shared = { data: [1, 4, 2, 5] }&quot;&gt;
                    &lt;donut-chart data=&quot;shared.data&quot; ng-repeat=&quot;item in [1, 2, 3]&quot;&gt;
                    &lt;/donut-chart&gt;
                  &lt;/div&gt;
                &lt;/body&gt;
              ````
              [demo](demos/lets-make-a-donut-chart-directive/v6-ng-repeat-and-scope-inheritance-part2.html)
            </div>
              <aside class="notes" data-markdown>
                + prevents the `shared` inherited property on the parent from being overwritten on the child scopes.
              </aside>
          </section>
          <section data-markdown>
            awesome
          </section>
          <section>
            <div data-markdown>
              rrrr... wait.. what about animation?
            </div>
            <aside class="notes" data-markdown>
              + scope.$watch -> data changed
            </aside>
          </section>
          <section>
            <div data-markdown>
              # Transitions
            </div>
            <aside class="notes">
              + feature of d3
            </aside>
          </section>
          <section style="font-size: 0.85em" data-markdown>
            ````javascript
              // our data changed! update the arcs
              scope.$watch('data', function(data){
                arcs.data(pie(data)).transition().attrTween('d', arcTween);
              });

              // transition the arc angles
              function arcTween(a) {
                // see: http://bl.ocks.org/mbostock/1346410
                var i = d3.interpolate(this._current, a);
                this._current = i(0);
                return function(t) {
                  return arc(i(t));
                };
              }
            ````
          </section>
          <section data-markdown>
            [transitioning arc angles demo](demos/arch-angels/index.html)
          </section>
          <section data-markdown>
            whoops... lets try that again. [transitioning arc angles demo](demos/lets-make-a-donut-chart-directive/v7-animation.html)
          </section>

          <section data-markdown>
            okay, but things break if the length of our data doesn't remain the same. now what?
          </section>
          <section data-markdown>
            # `.enter()`
            # & 
            # `.exit()`
          </section>
          <section style="font-size: 0.8em" data-markdown>
            ````javascript
            scope.$watch('data', function(newData, oldData){
              // 1.) animate the arcs that stayed around
              // 2.) add and animate any new arcs (if newData.length > oldData.length)
              // 3.) or remove any old arcs (if newData.length < oldData.length )
            });
            ````
            [demo](demos/lets-make-a-donut-chart-directive/v8-enter-and-exit.html)
          </section>
          <section>
            <div data-markdown>
              But wait! Our directive is _still_ modifying our data directly. That doesn't sound __modular__...
            </div>
            <aside class="notes" data-markdown>
              + we'd have to create a new directive anytime our data changes...
            </aside>
          </section>
          <section>
            you're right, it's not
          </section>
          <section data-markdown>
            # Separating out behavior
          </section>
          <section>
            <div style="font-size: 0.8em" data-markdown>
              ````html
                &lt;donut-chart data=&quot;chartData&quot; on-click=&quot;doSomething()&quot;&gt;&lt;/donut-chart&gt;
              ````
            </div>
          </section>
          <section>
            <div data-markdown>
              ````javascript
                scope: { 'data': '=', 'onClick': '&' }
              ````
              ````javascript
                // inside of `link`
                svg.on('mousedown', function(d) {
                  scope.$apply(function(){
                    if(scope.onClick) scope.onClick();
                  });
                });
              ````
              [demo](demos/lets-make-a-donut-chart-directive/v9-using-a-controller-and-seperating-out-business-logic.html)
            </div>
            <aside class="notes" data-markdown>
              + '&' for binding behaviors
              + now hour directive knows almost nothing about the outside world
              + also using a controller instead of ng-init
            </aside>
          </section>
          <section>
            <div data-markdown>
              [a larger demo](demos/a-donut-chart-editor/index.html)
            </div>
            <aside class="notes" data-markdown>
              + why should you care?
              + lets look at a fuller example
            </aside>
          </section>
        </section>
        <section>
          <section>
            <div data-markdown>
              # Best practices
            </div>
          </section>
          <section>
            <div data-markdown>
              keep data / behavior (click handlers) out of the directive
            </div>
            <small>(pass these in through the scope)</small>
            <aside class="notes">
              + the controller should be responsible for changing the data
              + or responding to events fired off of the directive
              + should only transform the data superficially, via copying the original data, like with d3.layout.pie()
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````html
                &lt;donut-chart on-click=&quot;chartClicked()&quot;&gt;&lt;/donut-chart&gt;
              ````
            </div>
          </section>
          <section>
            <div data-markdown>
              ````javascript
                svg.on('mousedown', function(d) {
                  scope.$apply(function(){
                    if(scope.onClick) scope.onClick();
                  });
                });
              ````
            </div>
          </section>
          <section>
            <div data-markdown>
              pass accessor functions through the scope to the directive
            </div>
          </section>
          <section>
            <div data-markdown>
              ````javascript
              app.controller('MainCtrl', function($scope){
                $scope.myAccessor = function(d){ return d.value };
                $scope.myData = [
                  { value: 82 },
                  { value: 12 },
                  { value: 42 },
                  { value: 63 }
                ];
              });
              ````
            </div>
          </section>
          <section>
            <div data-markdown>
              ````html
              &lt;div ng-controller=&quot;MainCtrl&quot;&gt;
                &lt;bar-chart accessor=&quot;myAccessor&quot; data=&quot;myData&quot;&gt;&lt;/bar-chart&gt;
              &lt;/div&gt;
              ````
            </div>
          </section>
          <section>
            <div data-markdown>
              make your directives responsive by watching `clientWidth` and `clientHeight`
              
              [demo](demos/responsive/index.html)
            </div>
            <aside class="notes">
              + POJS objects FTW
            </aside>
          </section>
          <section data-markdown>
            ````javascript
              scope.$watch(function(){
                return el.clientWidth * el.clientHeight
              }, function(){
                width = el.clientWidth;
                height = el.clientHeight;
                resize();
              });
            ````
          </section>
          <section data-markdown>
            ````css
              bar-chart{
                width: 100%;
                height: 100%;
                display: block;
                overflow: hidden;
              }
            ````
          </section>
          <section>
            <div data-markdown>
              load data from services
            </div>
            <aside class="notes" data-markdown>
              + not from controllers
              + and especially not from directives
              + keeps things clean and separated
              + easily swap out a csv file for a JSON api, etc...
            </aside>
          </section>
          <section>
            <div data-markdown>
              ````javascript
                app.controller('MainCtrl', function($pricingData){
                  $pricingData.getDay('2014-01-23', function(data){
                    scope.data = data;
                  });
                });
              ````
            </div>
            <aside class="notes" data-markdown>
              + the controller shouldn't "care" how you get the data.
              + makes it easy to change how you're getting the data.
              + also makes it easy to test your controller
            </aside>
          </section>
        </section>
        <section>
          <section data-markdown>
            # FIN
          </section>
        </section>

      </div>
    </div>

    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.min.js"></script>

    <script>

      // Full list of configuration options available here:
      // https://github.com/hakimel/reveal.js#configuration
      Reveal.initialize({
        controls: false, // TODO: change to `true` before posting to meetup
        progress: true,
        history: true,
        center: true,
        previewLinks: false,

        // theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
        theme: 'serif',
        transition: 'none',
        // transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

        // Parallax scrolling
        // parallaxBackgroundImage: 'https://s3.amazonaws.com/hakim-static/reveal-js/reveal-parallax-1.jpg',
        // parallaxBackgroundSize: '2100px 900px',

        // Optional libraries used to extend on reveal.js
        dependencies: [
          { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
          { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
          { src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
          { src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
          { src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
        ]
      });

    </script>

  </body>
</html>
