

donut-chart{
  width: 100%;
  height: 100%;
  position: absolute;
  pointer-events: none;
}
.controls{
  float: right;
  text-align: right;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -webkit-user-select: none;
  user-select: none;
  outline: none;
}

/* 
 * just some select styles from: http://designmodo.github.io/Flat-UI/
 */

body{
  font-family: "Lato", Helvetica, Arial, sans-serif;
}

button{
  border: none;
  border-radius: 6px;
  line-height: 1.471;
  padding: 10px 19px;
  color: #ffffff;
  background-color: #1abc9c;
  font-size: 17px;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-transition: 0.25s linear;
  transition: 0.25s linear;
}

button:hover{
  color: #ffffff;
  background-color: #48c9b0;
}

input{
  border: 2px solid #bdc3c7;
  color: #34495e;
  font-size: 15px;
  padding: 8px 12px;
  height: 42px;
  -webkit-appearance: none;
  border-radius: 6px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border .25s linear, color .25s linear, background-color .25s linear;
  transition: border .25s linear, color .25s linear, background-color .25s linear;
}